
<div class="jumbotron jumbotron-fluid main-banner">
  <div class="container">
    <h1 class="display-4">Cocktails</h1>
    <p class="lead">Make yourself some beverages..</p>
  </div>
</div>

<div class="container d-flex justify-content-between">
  <% @cocktails.each do |cocktail| %>
    <div class="game">
      <div class="rank">1</div>
      <div class="front">
        <%= cl_image_tag cocktail.photo.key, class: "thumbnail" %>
        <h3 class="name"><%=cocktail.name %></h3>
        <div class="stats">
          <p class="viewers">4 Star</p>
          <div class="streamers">Review</div>
        </div>
      </div>
      <div class="back">
        <div class="streaming-info">
          <% cocktail.doses.each do |dose| %>
          <p class="game-stat"><%= dose.ingredient_name.upcase %></p>
          <p class="game-stat"><%= dose.description.upcase %></p>
          <% end %>
        </div>
         <div class="btn btn-outline-primary d-flex justify-content-center">
            <%= link_to 'Delete', cocktail_path(cocktail.id), method: :delete, data: { confirm: "Are you sure?" }%>
        </div>
      </div>
      <div class="background-card">

      </div>
    </div>
  <% end %>
</div>






