<div class="container"><h1><%= @cocktail.name %></h1></div>

<div class="container">
  <% if @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, class: "thumbnail", width: 400, height: 300, crop: :fill %>
  <% else %>
    <% image_url = 'https://source.unsplash.com/collection/962396/400x300' + @cocktail.name.gsub(" ", "%30") %>
  <% end %>
</div>

<div class="container">
  <ul>
     <% @cocktail.doses.each do |dose| %>
      <li> <%= dose.description %> : <%= dose.ingredient_name %>
      <span class="btn btn-dark"><%= link_to 'Delete', dose_path(dose.id), method: :delete, data: { confirm: "Are you sure?" }%></span></li>
    <% end %>
  </ul>
</div>

<div class="container p-4">
  <%= render 'form', cocktail: @cocktail %>
</div>

<div class="container">
  <div class="btn btn-outline-dark"><%= link_to 'Back to cocktails screen', cocktails_path %></div>
</div>


